<div
  data-controller="invoices-chart"
  data-invoices-chart-categories-value="<%= categories %>"
  data-invoices-chart-series-value="<%= series %>"
>
  <header class="px-5 py-4 border-b border-slate-100 flex items-center">
      <h2 class="font-semibold text-slate-800"><%= t("facturacion_diaria") %></h2>
  </header>
  <div class="hidden px-5 py-3">
    <div class="flex flex-wrap justify-between items-end">
        <div class="flex items-start">
            <div class="text-3xl font-bold text-slate-800 mr-2">$1,482</div>
            <div class="text-sm font-semibold text-white px-1.5 bg-amber-500 rounded-full">-22%</div>
        </div>
        <div id="dashboard-card-08-legend" class="grow ml-2 mb-1">
            <ul class="flex flex-wrap justify-end"></ul>
        </div>
    </div>
</div>
  <div data-invoices-chart-target="chart" class="grow"></div>
</div>