<div class="p-4 border-2 border-indigo-200 border-dashed rounded-md text-center">
  <p class="text-lg mb-6 font-bold">
    No tienes facturas.
  </p>

  <%= link_to "Agregar Factura", new_invoice_path, class: "btn bg-indigo-500 hover:bg-indigo-600 text-white" %>
</div>