<div class="flex gap-2">
  <div class="w-2/3">
    <%= f.label "Ãtem", class: "input-label"  %>
    <%= f.collection_select :item_id, current_user.items, :id, :item_name,
      {prompt: "Selecciona un item"}, { multiple: false, class: "input"} %>
  </div>
  <div class="w-1/3">
    <%= f.label "Cantidad", class: "input-label"  %>
    <%= f.number_field :quantity, value: '1', min: 0, max: 10000000, class: "input" %>
  </div>
</div>
