<div class="flex gap-2">
  <div class="w-2/3">
    <%= items_form.label "Ítem", class: "input-label"  %>
    <%= items_form.select :item_id, current_user.items.all.map { |i| [i.item_name, i.id] }, include_blank: "Seleccionar Ítem" %>
  </div>
  <div class="w-1/3">
    <%= items_form.label "Cantidad", class: "input-label"  %>
    <%= items_form.number_field :quantity, value: '1', min: 0, class: "input" %>
  </div>
</div>
