<div class="w-full">
  <%= link_to sanitize("&larr; Regresar a facturas"), invoices_path, class: "back-button" %>
  <h1 class="text-2xl md:text-3xl text-slate-800 font-bold mt-2"><%= t("nueva_factura")%> ✨</h1>

  <%= render "form", invoice: @invoice %>

</div>
