<div class="w-full h-auto px-2 pt-12 pb-4 text-sm lg:px-6">
  <div class="flex flex-col-reverse p-4 text-sm lg:flex-row lg:justify-between lg:p-0">
    <div class="flex items-center justify-center">
        <span>&copy; <%= Date.today.year %> Factura Zen</span>
    </div>
    <div class="flex flex-wrap justify-center">
        <%= link_to "Terms", terms_path, class: "text-gray-700 no-underline block px-4 lg:my-0 my-2" %>
        <%= link_to "Privacy", privacy_path, class: "text-gray-700 no-underline block px-4 lg:my-0 my-2" %>
    </div>
  </div>
</div>

