@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Typography */
  .h1 {
    @apply text-4xl font-extrabold tracking-tighter;
  }

  .h2 {
    @apply text-3xl font-extrabold tracking-tighter;
  }

  .h3 {
    @apply text-3xl font-extrabold;
  }

  .h4 {
    @apply text-2xl font-extrabold tracking-tight;
  }

  @screen md {
    .h1 {
      @apply text-5xl;
    }

    .h2 {
      @apply text-4xl;
    }
  }

  /* Buttons */
  .btn,
  .btn-lg,
  .btn-sm,
  .btn-xs {
    @apply font-medium text-sm inline-flex items-center justify-center border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out cursor-pointer;
  }

  .btn {
    @apply px-3 py-2;
  }

  .btn-lg {
    @apply px-4 py-3;
  }

  .btn-sm {
    @apply px-2 py-1;
  }

  .btn-xs {
    @apply px-2 py-0.5;
  }

  /* Forms */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select,
  .form-checkbox,
  .form-radio {
    @apply text-sm text-slate-800 bg-white border;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select,
  .form-checkbox {
    @apply rounded;
  }

  .form-input,
  .form-textarea,
  .form-multiselect,
  .form-select {
    @apply leading-5 py-2 px-3 border-slate-200 hover:border-slate-300 focus:border-indigo-300 shadow-sm;
  }

  .form-input,
  .form-textarea {
    @apply placeholder-slate-400;
  }

  .form-select {
    @apply pr-10;
  }

  .form-checkbox,
  .form-radio {
    @apply text-indigo-500 border border-slate-300;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Misc */
  .alert {
    @apply text-white text-sm text-center font-medium px-4 py-3;
  }
  .notice {
    @apply py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block;
  }
  .btn-primary {
    @apply inline-flex items-center justify-center sm:w-auto py-2 text-sm font-medium rounded-md border border-transparent px-4 text-white shadow-sm bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 cursor-pointer;
  }
  .btn-secondary {
    @apply inline-flex justify-center rounded-md shadow-sm text-lg font-medium;
    @apply text-gray-700 bg-white py-2 px-4 border border-gray-300 hover:bg-gray-50;
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer;
  }
  .btn-danger {
    @apply px-3 py-2 shadow-sm rounded-md border border-transparent text-red-500 hover:text-red-900 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 cursor-pointer;
  }
  .paragraph {
    @apply mt-2 text-sm text-gray-700;
  }
  .title {
    @apply font-extralight text-center text-4xl text-gray-900;
  }
  .link {
    @apply text-indigo-600 hover:text-indigo-900;
  }
  .table-td-highlight {
    @apply px-4 py-3.5 text-base font-medium text-gray-900;
  }
  .table-td {
    @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
  }
  .list-line-even {
    @apply bg-gray-50;
  }
  .list-line-odd {
    @apply bg-white;
  }
  .input {
    @apply block appearance-none w-full mb-1 text-base leading-normal sm:text-sm shadow-sm mt-1 bg-white focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md;
  }
  .input-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .gravatar {
    @apply w-20 h-20 rounded-full;
  }
  /* Temp */
  .home header {
    @apply w-full p-2 flex items-center justify-between flex-wrap;
  }

  .home header .title {
    @apply font-extrabold text-2xl;
  }

  .home .heading {
    @apply font-semibold text-gray-900 text-4xl pt-8;
  }

  .home .actions {
    @apply w-auto flex items-center justify-end;
  }

  .home .action {
    @apply inline-flex items-center justify-center rounded-md border border-transparent;
    @apply bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm;
    @apply hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500;
    @apply focus:ring-offset-2 sm:w-auto;
  }

  .home .theatre {
    @apply m-auto pt-8 pb-16;
  }

  .home .theatre .center {
    @apply flex flex-col justify-center items-center text-center px-4;
  }

  @screen md {
    .home .header {
      @apply px-0;
    }

    .home header .title {
      @apply text-4xl;
    }

    .home .heading {
      @apply pt-16 pb-2;
    }

    .home .theatre {
      @apply pt-32 pb-32;
    }
  }

  /* Switch element */
  .form-switch {
    @apply relative select-none;
    width: 44px;
  }

  .form-switch label {
    @apply block overflow-hidden cursor-pointer h-6 rounded-full;
  }

  .form-switch label > span:first-child {
    @apply absolute block rounded-full;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out;
  }

  .form-switch input[type="checkbox"]:checked + label {
    @apply bg-indigo-500;
  }

  .form-switch input[type="checkbox"]:checked + label > span:first-child {
    left: 22px;
  }

  .form-switch input[type="checkbox"]:disabled + label {
    @apply cursor-not-allowed bg-slate-100 border border-slate-200;
  }

  .form-switch input[type="checkbox"]:disabled + label > span:first-child {
    @apply bg-slate-400;
  }

  .form-input:focus,
  .form-textarea:focus,
  .form-multiselect:focus,
  .form-select:focus,
  .form-checkbox:focus,
  .form-radio:focus {
    @apply ring-0;
  }

  /* Session Devise */

  .session {
    @apply font-sans h-screen w-screen;
  }

  .session .container {
    @apply mx-auto flex h-full items-center;
  }

  .session .form-group {
    @apply border-2 border-t-8 bg-white rounded-lg shadow-lg;
    @apply p-8 mb-6;
  }

  .session .form-group label {
    @apply font-normal text-gray-600 block mb-2;
  }

  .session .form-group input[type="text"],
  .session .form-group input[type="email"],
  .session .form-group input[type="password"] {
    @apply block appearance-none w-full bg-white;
    @apply border border-gray-200;
    @apply rounded shadow;
    @apply px-2 py-2;
  }

  .session .form-group input[type="text"]:hover,
  .session .form-group input[type="email"]:hover,
  .session .form-group input[type="password"]:hover {
    @apply border-gray-300;
  }

  .session a {
    @apply no-underline font-bold text-sm text-indigo-600;
  }

  .session a:hover {
    @apply text-indigo-500;
  }

  .session .cta-btn {
    @apply select-none bg-indigo-600 text-white font-bold;
    @apply rounded-md shadow-sm border border-transparent;
    @apply py-2 px-4;
    @apply hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
  }

  .session .alert {
    @apply mb-4;
  }

  .session .error-box {
    @apply bg-red-100 border-t-4 border-red-500
      rounded-b text-red-900 px-4 py-3 mb-3 shadow-md;
  }

  .session .error-box ul {
    @apply pl-4;
    list-style: disc;
  }

}

/* Pagy */

.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded px-4 py-2 font-normal border-slate-200 text-indigo-500 bg-white shadow-md;
  &:hover{
    @apply border-slate-300;
  }
  &:active{
    @apply bg-white text-indigo-500;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-indigo-300 cursor-default;
  &:hover {
    @apply text-indigo-500 bg-gray-200;
  }
  &:active {
    @apply text-indigo-500 bg-gray-200;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply text-indigo-300 cursor-default;
  &:hover {
    @apply text-indigo-500;
  }
  &:active {
    @apply bg-gray-400 text-white;
  }
}

.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm;
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800;
  }
  &:active {
    @apply text-gray-800;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}