<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="font-inter antialiased text-slate-600">
    <%= render "layouts/alert" %>
        <main>
            <%= yield %>
        </main>
  </body>
</html>
